<ion-header [translucent]="true" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div align="center">
    <ion-img src="assets/icon/util/quito_park_logo.svg" style="width: 50vw;"></ion-img>
  </div>
  
  @for(historico of listaHistorial; track historico.trxSecuencial){
  <ion-card>
    <ion-card-content style="font-size: small;">
      <div>
        <ion-label style="font-weight: bold;color: var(--ion-color-primary);">{{historico.trxEstado}} -
          <span style="font-weight: normal;">{{historico.trxFechaRegistro| date: 'yyyy-MM-dd HH:mm:ss' : 'GMT-5'}}
          </span>
        </ion-label>
      </div>
      <div>
        <ion-label style="color: var(--ion-color-secondary);font-weight: 700;">{{historico.trxDetalle}}</ion-label>
      </div>
      <div>
        <ion-label style="color: var(--ion-color-primary);"><span
            style="color: var(--ion-color-primary);font-weight: bold;margin-right: 10px;">Total:</span>{{historico.trxMonto
          | currency}} USD</ion-label>
      </div>
      <div>
        <ion-label style="color: var(--ion-color-primary);"><span
            style="color: var(--ion-color-primary);font-weight: bold;margin-right: 10px;">Referencia:</span>{{historico.trxReferencia}}</ion-label>
      </div>
      <div>
        <ion-label style="color: var(--ion-color-primary);"><span
            style="color: var(--ion-color-primary);font-weight: bold;margin-right: 10px;">Autorización:</span>{{historico.trxAutorizacion}}</ion-label>
      </div>

    </ion-card-content>
  </ion-card>
  } @empty{
  <ion-card>
    <ion-card-content>
      <ion-card-title color="primary" style="font-size: large;">No tienes transacciones</ion-card-title>
      <ion-card-subtitle color="secondary">Aún no has realizado ningún pago de servicios</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
  }
</ion-content>