<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrarComponente()">
        <ion-icon slot="start" name="close" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="container-logo">
      <ion-img src="assets/icon/utilitarios/logoCobranding.svg" class="logo-empresa"></ion-img>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="height: 100vh">
  <h3 class="title">Términos y Condiciones de Uso</h3>
  <ion-text style="text-align: justify;">

    <p>
      Estos Términos y Condiciones de Uso de la Aplicación de Quito a tu Alcance (de aquí en adelante “Términos de
      Uso”), tendrán vigencia a partir de la fecha de aceptación electrónica por parte del usuario quien reconoce y
      declara estar facultado para celebrar todo tipo de acto jurídico respecto del servicio que la Empresa Pública
      Metropolitana de Movilidad y Obras Públicas EPMMOP pone a su disposición; en tal virtud, garantiza la veracidad,
      exactitud e integridad de la información proporcionada dentro de la aplicación.
    </p>
    <p>
      El usuario y contraseña provisto para cada cliente, debe mantenerse en todo momento bajo su confidencialidad y
      seguridad, ya que, a través de este, se autentica su acceso vinculando unívocamente, el acceso en mención con su
      titular, así como las transacciones realizadas en la aplicación, como expresión libre de su voluntad. La EPMMOP no
      es responsable por la revelación, pérdida o sustracción relacionadas con el uso no autorizado de los mismos.
      Al hacer clic en “Aceptar”, el Usuario declara haber leído, entendido y aceptado con plena voluntad el presente
      instrumento en todas sus partes; por lo cual, garantiza que la información y datos registrados durante el proceso
      son verídicos y lícitos, eximiendo de responsabilidad a la EPMMOP sobre la misma.
    </p>

    <h6 class="title">1. SERVICIO</h6>
    <p>
      El Usuario autoriza expresamente a la EPMMOP a recabar información respecto al uso y comportamiento de uso de la
      aplicación, con el fin de analizar las tendencias, así como para garantizar, operar y mejorar los productos y
      servicios que presta la EPMMOP. Adicionalmente, utilizará cualquier información que se le proporcione con relación
      al uso que el Usuario le dé a la Aplicación Quito a tu Alcance (sin reconocimiento o remuneración alguna) con el
      fin de medir la calidad de servicio y como parte de un proceso de mejora continua.
    </p>
    <p>
      El Usuario, creará una cuenta o perfil que lo identificará en todos los procesos que se realicen a través del
      aplicativo, pudiendo incorporar la información del nombre, dirección domiciliaria, teléfono celular, dirección de
      correo electrónico o cualquier otro identificativo que a futuro se implemente.
    </p>
    <p>
      Con el fin de evitar cualquier transacción fraudulenta, la EPMMOP se reserva el derecho de bloquear de manera
      temporal o definitiva el perfil, del usuario cuando por cualquier motivo se detecte un comportamiento inusual en
      el uso del aplicativo, esto puede incluir más no limitarse a varios accesos no autorizados o fallidos.
    </p>
    <p>
      El procedimiento de descarga de aplicativo para los usuarios, el cual se encuentra sujeto a variaciones de acuerdo
      con las actualizaciones o modificaciones que cada sistema operativo disponga será a través de Google Play o Apple
      Store, mediante buscador o de forma directa.
    </p>
    <p>
      En todos los casos de descarga, se deberá otorgar los permisos necesarios que demande el aplicativo, sin que por
      ello exista violación de confidencial de la información contenida en el dispositivo móvil y/o terminal. Una vez
      instalado el aplicativo recopilará, de manera automática, la información específica del dispositivo móvil y/o
      terminal desde la que se accede al servicio, pudiendo comprender: modelo y versión de sistema operativo; hardware,
      software; identificador de dispositivo único e información de la red que utiliza, activación de notificaciones;
      activación del sistema de posicionamiento global (gps), entre otros.
    </p>
    <p>
      El aplicativo obtiene y almacena automáticamente determinada información los cuales pueden incluir: información
      detallada sobre la forma y medio de uso del servicio; información relativa al dispositivo móvil y/o terminal,
      respecto a fallos, actividad del sistema; ajustes, tipo de navegador, idioma; fecha, hora; y latitud y longitud de
      las transacciones realizadas a través del aplicativo, las cuales se sujetan a la debida confidencialidad.
    </p>

    <h6 class="title">2. MEDIOS DE PAGO</h6>
    <p>
      El Usuario declara y acepta, con el registro de una tarjeta de crédito o débito en la aplicación, que es dueño de
      la tarjeta, tarjetahabiente adicional o, que de ser el caso, cuenta con la autorización del titular de la tarjeta
      para registrarla.
    </p>
    <p>
      El Usuario declara y acepta, con el registro de cualquier otro medio de pago en la aplicación, que es
      dueño del medio de pago, que de ser el caso, cuenta con la autorización del titular del mismo.
    </p>
    <p>
      El usuario reconoce que, cualquier cargo que realice a una tarjeta o medio de pago registrado en el aplicativo por
      parte de cualquier persona que se identifique como usuario, solo podrá realizarse exclusivamente bajo el
      consentimiento de éste último, y se responsabiliza expresamente con el Banco y/o Cooperativa por cualquier consumo
      que realice mediante el aplicativo.
    </p>
    <p>
      Cuando el usuario envía un pago al aplicativo, este podrá ser rechazado automáticamente por la no disponibilidad
      de cupo suficiente en la tarjeta o medio de pago para la transacción requerida, o por un mal registro de la
      información de la tarjeta/medio de pago en el aplicativo, o por falta o poca capacidad de señal de internet, que
      permita el correcto acceso al servicio.
    </p>
    <p>
      El usuario se compromete a no rechazar el uso y consecuente procesamiento de pagos que fuera realizado mediante el
      aplicativo, así como la TARJETA que hubiera sido registrada por el usuario en su momento.
    </p>

    <h6 class="title">3. PRIVACIDAD Y TRATAMIENTO DE DATOS DE CARÁCTER PERSONAL</h6>
      <p>
        Toda información registrada con fines de uso y acceso a los productos y servicios a través del aplicativo, está
        sujeta a privacidad, conforme lo señala la normativa legal vigente aplicable. Sin embargo, el usuario es
        responsable de la custodia de claves, contraseñas, usuarios, así como de contar con las seguridades al hardware
        que soporta el canal a través del cual accede.
      </p>
      <p>
        La EPMMOP podrá tratar los datos de carácter personal del usuario, incluidos los patrones de seguridad antes
        descritos, con las siguientes finalidades: (i) identificar al usuario en esta aplicación; (ii) validar y
        verificar sus datos cuando el Cliente acceda desde otras aplicaciones, dispositivos móviles o canales digitales;
        (iii) dar cumplimiento al objeto de la Aplicación; (iv) aplicar las medidas necesarias para el cumplimiento de
        lo establecido en las normas legales vigentes para prevenir, detectar y erradicar el delito de lavado de activos
        y financiamiento de delitos incluido el terrorismo, así como informar a las Autoridades Competentes incluyendo
        aquellas que por las leyes o reglamentariamente facultadas requiera información de tipo crediticio u otro
        aplicable; (v) realizar análisis estadísticos (analítica) sobre el uso de esta aplicación y/o de servicios
        prestados por la EPMMOP y que comprenden todo tipo de canales, medios de comunicación electrónica, a través de
        redes telemáticas, con el propósito de ampliar los servicios; (vi) aplicar seguridad en el uso de canales o
        aplicaciones.
      </p>
      <p>
        Tratamiento de datos de terceros: Los datos personales de terceros que se reciba del usuario para el acceso y
        uso de su aplicación, serán tratados única y exclusivamente con dichos fines, y no se comunicarán a terceros,
        salvo en los casos en que la naturaleza del servicio implique necesariamente dicha comunicación, o por
        disposición de Autoridad legalmente facultada a requerirla, la cual se limitará a la finalidad expresada.
      </p>
      <p>Por tanto, y mediante el presente Acuerdo, el usuario acepta y declara en forma expresa:</p>
      <p>(1) Que, toda la información proporcionada es verdadera y precisa;</p>
      <p>(2) Que, se ha informado en forma previa, ha leído y aceptado las condiciones, incluyendo las tarifas y
        comisiones que aplican. Cualquier modificación será notificada en forma electrónica con anticipación y su
        utilización implicará aceptación por parte del usuario.</p>


  
  </ion-text>
</ion-content>
