<ion-header [translucent]="true" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- <div align="center">
    <ion-img src="assets/icon/util/logoQuitoATuAlcance.svg" style="width: 50vw;"></ion-img>
  </div> -->

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{estacionamiento.estNombre}}</ion-card-title>
      <ion-card-subtitle>Estacionamiento</ion-card-subtitle>
    </ion-card-header>
    <div class="imagen-container" style.background-image="url('{{estacionamiento.estImagen}}')"></div>
    <ion-card-header>
      <ion-card-title><ion-badge style="font-size: larger;margin-right: 10px;color: #fff;" color="success">{{estacionamiento.estCapacidad}}</ion-badge></ion-card-title>
      <ion-card-subtitle>{{ estacionamiento.estCapacidad === 1 ? 'plaza disponible' : 'plazas disponibles' }}</ion-card-subtitle>
    </ion-card-header>
    

    <ion-card-content>

      <ion-item-divider mode="ios" class="ion-no-margin">
        <ion-label>Información</ion-label>
      </ion-item-divider>

      <ion-item style="margin-bottom: 5px;" href="{{estacionamiento.estMapa}}" lines="none">
        <ion-icon slot="start" name="location-outline" style="color: #244084;font-size: medium;font-weight: 600;">
        </ion-icon>
        <ion-label style="font-size: small;font-weight: 600;">{{ estacionamiento.estDireccion }}</ion-label>
      </ion-item>

      <ion-item style="margin-bottom: 5px;" lines="none">
        <ion-icon slot="start" name="car-outline" style="color:#244084;font-size: medium;"></ion-icon>
        <ion-label style="font-size: small;">{{ estacionamiento.estCapacidad }} Plazas</ion-label>
      </ion-item>

      <ion-item-divider mode="ios">
        <ion-label>Horarios</ion-label>
      </ion-item-divider>

      @for (horario of horarios; track horario.descripcion ) {
        <ion-item style="margin-bottom: 5px;" lines="none">
          <ion-icon slot="start" name="cash-outline" style="color:#244084;font-size: medium;"></ion-icon>
          <ion-label style="font-size: small;">{{ horario.detalle }}</ion-label>
        </ion-item>
        }

      <ion-item-divider mode="ios">
        <ion-label>Tarifas</ion-label>
      </ion-item-divider>

      @for (tarifa of tarifas; track tarifa.descripcion ) {
      <ion-item style="margin-bottom: 5px;" lines="none">
        <ion-icon slot="start" name="cash-outline" style="color:#244084;font-size: medium;"></ion-icon>
        <ion-label style="font-size: small;">{{ tarifa.descripcion }} - ${{ tarifa.valor | number: '1.2-2' }} hora o
          fracción</ion-label>
      </ion-item>
      }

    </ion-card-content>
  </ion-card>



  <!-- <ion-item style="margin-bottom: 5px;" *ngFor="let horario of detalleHorario">
    <ion-icon slot="start" name="time-outline" style="color:#244084;font-size: medium;"></ion-icon>
    <ion-label style="font-size: small;">{{horario.horDescripcion}}</ion-label>
  </ion-item>

  <ion-item style="margin-bottom: 5px;" *ngFor="let tarifa of detalleTarifa">
    <ion-icon slot="start" name="cash-outline" style="color:#244084;font-size: medium;"></ion-icon>
    <ion-label style="font-size: small;">$ {{tarifa.tarDescripcion}} hora o fracción</ion-label>
  </ion-item> -->



</ion-content>