<ion-header [translucent]="true" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div align="center">
    <ion-img src="assets/icon/util/quito_park_logo.svg" style="width: 50vw;"></ion-img>
  </div>

  <ion-item detail="true" routerLink="/editar-perfil" style="margin-top: 20px;">
    <ion-avatar slot="start" class="avatar">
      <div class="iniciales">
        <ion-label style="color: aliceblue;font-weight: bolder;font-size: larger;">US</ion-label>
      </div>
    </ion-avatar>
    <div>
      <ion-label style="font-weight: bold;color: var(--ion-color-primary);">{{usuario.usuNombres}} {{usuario.usuApellidos}}</ion-label>
      <ion-label style="font-size: small;color: var(--ion-color-secondary);">Editar perfil</ion-label>
    </div>
  </ion-item>

  <ion-card class="ion-padding" (click)="ejecutar()">
    <ion-item lines="none">
      <div>
        <ion-label color="primary" style="font-weight: bold;">Tarjeta Ciudad</ion-label>
        <ion-label color="secondary" style="font-size: small;">Verifica tu saldo</ion-label>
      </div>
      <ion-img slot="end" src="assets/icon/utilitarios/tarjeta-ciudad.png" style="width:90px"></ion-img>
    </ion-item>
  </ion-card>

  <div style="margin-top: 40px; margin-right: 15px;">
    <ion-list>
      <ion-item detail routerLink="/cambiar-contrasenia">
        <ion-icon slot="start" name="settings-outline"></ion-icon>
        <ion-label>Cambiar contraseña</ion-label>
      </ion-item>
      <ion-item detail>
        <ion-icon slot="start" name="globe-outline"></ion-icon>
        <ion-label (click)="abrirEpmmop()">Visita nuestro sitio web</ion-label>
      </ion-item>
      <ion-item detail>
        <ion-icon slot="start" name="help-outline"></ion-icon>
        <ion-label (click)="abrirPreguntas()">Preguntas Frecuentes</ion-label>
      </ion-item>
      <ion-item detail>
        <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
        <ion-label (click)="abrirPoliticas()">Políticas de privacidad</ion-label>
      </ion-item>
      <ion-item detail>
        <ion-icon slot="start" name="document-text-outline"></ion-icon>
        <ion-label (click)="abrirTerminos()">Términos y condiciones</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="code-slash-outline"></ion-icon>
        <ion-label>Versión de aplicación 1.0.0</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
