<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cerrarComponente()">
        <ion-icon slot="start" name="close" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="container-logo">
      <ion-img src="assets/icon/utilitarios/logoCobranding.svg" class="logo-empresa"></ion-img>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" style="height: 100vh">
  <h4 class="title">PREGUNTAS FRECUENTES SOBRE PAGOS ELECTRÓNICOS</h4>

  <ion-text style="text-align: justify;">

    <p style="font-weight: bold;color:var(--ion-color-primary)">1. ¿Cómo descargo la aplicación para pagar el estacionamiento?</p>
    <p>Puedes descargar la aplicación desde la App Store (iOS) o Google Play Store (Android) buscando la aplicación por
      su
      nombre "Quito a tú alcance" o escaneando el código QR proporcionado a través de nuestras redes sociales y carteles
      en cada uno de nuestros estacionamientos.</p>

    <p style="font-weight: bold;color:var(--ion-color-primary)">2. ¿Qué métodos de pago acepta la aplicación?</p>
    <p>En “Quito a tu Alcance” aceptamos pagos mediante tarjetas de crédito/débito a través de PlaceToPay.</p>

    <p style="font-weight: bold;color:var(--ion-color-primary)">3. ¿Puedo pagar el estacionamiento por adelantado desde la aplicación?</p>
    <p>No, el pago del estacionamiento desde la aplicación, se deberá realizar previo a la salida del mismo.</p>

    <p style="font-weight: bold;color:var(--ion-color-primary)">4. ¿En qué tiempo puedo salir del estacionamiento, una vez realizado el pago desde la aplicación?</p>
    <p>Una vez realizado el pago del estacionamiento desde la aplicación, tiene un tiempo entre 10 minutos a 15 minutos
      (depende el estacionamiento), para salir del estacionamiento, de lo contrario, deberá cancelar un costo de la hora
      o fracción del estacionamiento.</p>

    <p style="font-weight: bold;color:var(--ion-color-primary)">5. ¿Una vez pagado el estacionamiento a través de la aplicación, necesito conservar el ticket?</p>
    <p>Si, el ticket debe ser escaneado en el equipo validador de la salida del estacionamiento, para que pueda desactivarse y
      abrir
      la barrera de control.</p>

    <p style="font-weight: bold;color:var(--ion-color-primary)">6. ¿Qué debo hacer si pierdo el ticket del estacionamiento?</p>
    <p>El ticket del estacionamiento debe ser conservado hasta salir del estacionamiento, en caso de ser extraviado,
      deberá
      acercase a las cajas de recaudación, y cancelar la multa de 15 dólares americanos.</p>

    <p style="font-weight: bold;color:var(--ion-color-primary)">7. ¿Qué debo hacer si el ticket del estacionamiento no es leído por la aplicación?</p>
    <p>El ticket del estacionamiento debe ser conservado en óptimas condiciones para garantizar su lectura a través de
      la
      aplicación. En este caso, deberá acercase a las cajas de recaudación para realizar el pago por la emisión de un
      nuevo ticket, que corresponde a 15 dólares americanos.</p>

    <p style="font-weight: bold;color:var(--ion-color-primary)">8. ¿La EPMMOP cobra tarifas adicionales por el uso de la aplicación?</p>
    <p>No, la descarga y el uso básico de la aplicación no tienen costos adicionales. La EPMMOP solo cobrará la tarifa
      correspondiente al uso del estacionamiento. Los costos adicionales corresponden a las tarifas propias del banco
      emisor de la tarjeta de crédito/debito.</p>

    <p style="font-weight: bold;color:var(--ion-color-primary)">9. ¿Cómo funciona el proceso de validación del pago en la entrada/salida del estacionamiento?</p>
    <p>Al realizar el pago a través de la aplicación, se verifica y activa el ticket como “pagado”. Al llegar a la
      salida,
      este ticket debe ser escaneado en el equipo validador de la salida del estacionamiento, para que pueda desactivarse y abrir
      la barrera de control.</p>

    <p style="font-weight: bold;color:var(--ion-color-primary)">10. ¿La aplicación muestra la disponibilidad de espacios de estacionamiento en tiempo real?</p>
    <p>Si, "Quito a tu Alcance", puede mostrar la disponibilidad de espacios de cada uno de los estacionamientos
      administrados por la EPMMOP.</p>

    <p style="font-weight: bold;color:var(--ion-color-primary)">11. ¿Es posible obtener comprobantes de los pagos realizados a través de la aplicación?</p>
    <p>Sí, la aplicación genera automáticamente un comprobante electrónico sin validez tributaria por cada transacción
      completada, el cual podrás encontrar en la sección de historial de pagos dentro de la app.</p>

    <p style="font-weight: bold;color:var(--ion-color-primary)">12. ¿Puedo obtener una factura electrónica de los pagos realizados a través de la aplicación?</p>
    <p>No, si requiere una factura el pago deberá realizarse a través de las cajas de recaudación de los
      estacionamientos.</p>

    <p style="font-weight: bold;color:var(--ion-color-primary)">13. ¿Puedo realizar el pago del estacionamiento aplicando el beneficio de tarifa preferencial?</p>
    <p>No, el pago de los estacionamientos que hagan uso de la tarifa preferencial debe realizarse a través de las cajas
      de
      recaudación de cada estacionamiento.</p>

    <p style="font-weight: bold;color:var(--ion-color-primary)">14. ¿Qué debo hacer si tengo problemas con el registro del pago?</p>
    <p>Si encuentras errores con el registro del pago, debes acercarte a la caja para recibir asistencia.</p>

    <p style="font-weight: bold;color:var(--ion-color-primary)">15. ¿Qué es Placetopay?</p>
    <p>Placetopay es la plataforma de pagos electrónicos que usa "Quito a tu Alcance" para procesar en línea las
      transacciones generadas en la tienda virtual con las formas de pago habilitadas para tal fin.</p>

    <p style="font-weight: bold;color:var(--ion-color-primary)">16. ¿Cómo puedo pagar?</p>
    <p>En la tienda virtual de "Quito a tu Alcance" usted podrá realizar su pago con los medios habilitados para tal fin.
      Usted, de acuerdo a las opciones de pago escogidas por el comercio, podrá pagar a través Tarjetas Diners,
      Discover,
      Visa y MasterCard; de todos los bancos con pago corriente y en los diferido, únicamente las tarjetas emitidas por
      Banco Pichincha, Diners, Loja, BGR y Manabí.</p>

    <p style="font-weight: bold;color:var(--ion-color-primary)">17. ¿Es seguro ingresar mis datos bancarios en este sitio web?</p>
    <p>Para proteger tus datos "Quito a tu Alcance", delega en Placetopay la captura de la información sensible. Nuestra
      plataforma de pagos cumple con los más altos estándares exigidos por la norma internacional PCI DSS de seguridad
      en
      transacciones con tarjeta de crédito. Además, tiene certificado de seguridad SSL expedido por GeoTrust una
      compañía
      Verisign, el cual garantiza comunicaciones seguras mediante la encriptación de todos los datos hacia y desde el
      sitio; de esta manera, te podrás sentir seguro a la hora de ingresar la información de tu tarjeta.</p>
    <p>Durante el proceso de pago, en el navegador se muestra el nombre de la organización autenticada, la autoridad que
      lo
      certifica y la barra de dirección cambia a color verde. Estas características son visibles de inmediato y dan
      garantía y confianza para completar la transacción en Placetopay.</p>
    <p>Placetopay también cuenta con el monitoreo constante de McAfee Secure y la firma de mensajes electrónicos con
      Certicámara.</p>
    <p>Placetopay es una marca de la empresa colombiana EGM Ingeniería Sin Fronteras S.A.S.</p>

    <p style="font-weight: bold;color:var(--ion-color-primary)">18. ¿Puedo realizar el pago cualquier día y a cualquier hora?</p>
    <p>Sí, en "Quito Tu Alcance", podrás realizar tus pagos en línea los 7 días de la semana, las 24 horas del día a
      sólo
      un clic de distancia.</p>

    <p style="font-weight: bold;color:var(--ion-color-primary)">19. ¿Puedo cambiar la forma de pago?</p>
    <p>Si aún no has finalizado tu pago, podrás volver al paso inicial y elegir la forma de pago que prefieras. Una vez
      finalizada la compra no es posible cambiar la forma de pago.</p>

    <p style="font-weight: bold;color:var(--ion-color-primary)">20. ¿Pagar electrónicamente tiene algún valor para mí como comprador?</p>
    <p>No, los pagos electrónicos realizados a través de Placetopay no generan costos adicionales para el comprador.</p>

    <p style="font-weight: bold;color:var(--ion-color-primary)">21. ¿Qué debo hacer si mi transacción no concluyó?</p>
    <p>En primera instancia deberás revisar si llegó un mail de confirmación del pago en tu cuenta de correo electrónico
      (la inscrita en el momento de realizar el pago), en caso de no haberlo recibido, debes verificar si la información
      de la cuenta es válida, está habilitada para compras no presenciales y si tienes cupo o saldo disponible. Si
      después
      de esto continua con el problema, debes acercarte a las cajas de recaudación para realizar el pago
      correspondiente.
      En última instancia, puedes remitir tu solicitud a servicioposventa&#64;placetopay.ec.</p>

    <p style="font-weight: bold;color:var(--ion-color-primary)">22. ¿Qué debo hacer si no recibí el comprobante de pago?</p>
    <p>Por cada transacción aprobada a través de Placetopay, recibirás un comprobante del pago con la referencia de
      compra
      en la dirección de correo electrónico que indicaste al momento de pagar. Si no lo recibes, podrás remitir un
      correo
      electrónico, para solicitar el reenvío del comprobante a la misma dirección de correo electrónico registrada al
      momento de pagar. En última instancia, puedes remitir tu solicitud a servicioposventa&#64;placetopay.ec.</p>


  </ion-text>
</ion-content>
